<launch>

  <arg name="UAV_NAME" default="$(optenv UAV_NAME)" />

  <arg name="custom_config" default="" />

  <group ns="$(arg UAV_NAME)">

    <node name="map_builder" pkg="rad_utils" type="map_builder" output="screen">

      <rosparam file="$(find rad_utils)/config/map_builder.yaml" command="load" />

      <rosparam if="$(eval not arg('custom_config') == '')" file="$(arg custom_config)" />

      <param name="uav_name" value="$(arg UAV_NAME)" />

      <!-- use for simulations -->
      <remap from="~data_in" to="rospix3/left/cluster_list" />
      <remap from="~odom_in" to="odometry/odom_main" />
      <remap from="~map_normalized_out" to="map_builder/map/normalized" />

    </node>

  </group>

</launch>
